{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/order_success.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/order_success.css' %}">
    <div class="container information-page">
    <h2>Order confirmation for {{ Apartment.address }}, {{ Apartment.postalcode }}  {{ Apartment.location }}</h2>
        <br>
        <div class="row">
            <div class="col-5" style="border:1px solid black">
                <h3>Apartment information</h3>
                <div class="row">
                    <div class="col-md-12">
                        <img class="mainImage" src="{{ Apartment.apartmentimage_set.first }}"/>
                    </div>
                    <div class="col-12">
                        <p>{{ Apartment.description }}</p>
                    </div>

                </div>
                <br>
                <h3>Seller information</h3>
                <div class="row">
                    <div class="col-6">
                        <img id="sellerPicture" class="rounded-circle"src="{{ Apartment.agentid.profilepicture }}">
                    </div>
                    <div class="col-6">
                        <p>{{ Apartment.agentid.name }}</p>
                        <p>
                            <strong>Tel:</strong> {{ Apartment.agentid.cellphone }}<br>
                            <strong>Work:</strong> {{ Apartment.agentid.workphone }}<br>
                            <strong>@:</strong> {{ Apartment.agentid.email }} </p>
                        <div class="row" id="stars">
                        <script>
                            var starstring = document.createTextNode("⭐".repeat({{ Apartment.agentid.rating }}))

                            document.getElementById('stars').appendChild(starstring)

                        </script>
                        </div>
                    </div>
                </div>
            </div>
            <div id="invoice" class="col-7" style="border:1px solid black">
                <h3>Order details</h3><br>
                <div class="row">
                    <div class="col-6">
                        <h5><strong>Buyer</strong></h5>
                        <p><strong>Name</strong><br> {{ OrderInfo.cardholdername }}</p>
                        <p><strong>Billing Address</strong><br> {{ OrderInfo.cardnumber }}</p>
                        <p><strong>Buyer</strong><br> {{ OrderInfo.cardholdername }}</p>
                        <p><strong>Buyer</strong><br> {{ OrderInfo.cardholdername }}</p>
                    </div>
                    <div class="col-5">
                        <h5><strong>Apartment</strong></h5>
                        <p><strong>Address</strong><br> {{ Apartment.address }}</p>
                        <p><strong>Size</strong><br> {{ Apartment.bedrooms }} bedroom, {{ Apartment.size }} m3</p>
                        <p><strong>Total price</strong><br> {{ Apartment.price }} ISK</p>
                    </div>

                    <input type="submit" onclick=goBack() class="btn btn-danger update" value="Back to apartment">
                    <input type="submit" onclick="window.location.href='{{ request.get_full_path }}/order_success'" class="btn btn-primary update" value="Continue">
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-8">
                <img class="mainImage" src="{{ Apartment.apartmentimage_set.first }}"/>
            </div>
            <div class="col-md-3">
                <img id="firstinteriorImage" class="interiorImage" src="{{ Apartment.apartmentimage_set.first }}"/>
                <img class="interiorImage" src="{{ Apartment.apartmentimage_set.first }}"/>
                <img id="lastinteriorImage" class="interiorImage" src="{{ Apartment.apartmentimage_set.first }}"/>
            </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Description</h3>
                <p>{{ Apartment.description }}</p>
            </div>
            <div class="col-md-4">
                <h3>Purchase</h3>
                <p>{{ Apartment.price }} kr total price</p>
                <p>Mortgage options available.</p>
                <p>20 year plan as low as ...</p>
                <p>40 year plan as low as ...</p>
                <input type="submit" id="btnPurchaseApartment" name="btnPurchaseApartment" value="Purchase now" />

            </div>
            <div class="col-md-4">
                <h3>Seller information</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Contact</h5>
                        <p>Tel: {{ Apartment.agentid.cellphone }}</p>
                        <p>Work: {{ Apartment.agentid.workphone }}</p>
                        <p>Email: {{ Apartment.agentid.email }} </p>
                        <div class="row" id="stars">
                            <script>
                                var starstring = document.createTextNode("⭐".repeat({{ Apartment.agentid.rating }}))

                                document.getElementById('stars').appendChild(starstring)

                            </script>
                        </div>
                        <p>{{ Apartment.agentid.description }}</p>

                    </div>
                    <div class="col-md-6">
                        <img id="sellerPicture" class="rounded-circle"src="{{ Apartment.agentid.profilepicture }}">
                    </div>
                </div>
            </div>
        </div>-->


{% endblock %}