{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/order.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <div class="container information-page">
    <h2>Purchase order for {{ Apartment.address }}, {{ Apartment.postalcode }}  {{ Apartment.location }}</h2>
        <hr>
        <br>
        <div class="row">
            <div class="col-5">
                <h3>Apartment information</h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <img class="mainImage" src="{{ Apartment.apartmentimage_set.first }}"/>
                    </div>
                    <div class="col-12">
                        <p>{{ Apartment.description }}</p>
                    </div>

                </div>
                <br>
                <h3>Seller information</h3>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <img id="sellerPicture" class="rounded-circle"src="{{ Apartment.agentid.profilepicture }}">
                    </div>
                    <div class="col-6 seller-info">
                        <p>{{ Apartment.agentid.name }}</p>
                        <p>
                            <i class="fa fa-phone" aria-hidden="true"></i> {{ Apartment.agentid.cellphone }}<br>
                            <i class="fa fa-building" aria-hidden="true"></i> {{ Apartment.agentid.workphone }}<br>
                            <i class="fa fa-envelope" aria-hidden="true"></i> {{ Apartment.agentid.email }} </p>
                        <p id="stars">
                        <script>
                            var starstring = document.createTextNode("⭐".repeat({{ Apartment.agentid.rating }}))

                            document.getElementById('stars').appendChild(starstring)

                        </script>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <form id="billingInfo" name="billingInfo" method="post" style="margin-top: -65px;">
                    <h3>Contact Information</h3>
                    <hr>
                    {% csrf_token %}
                    {{ form.streetname }}
                    <br>
                    {{ form.housenumber }}
                    <br>
                    {{ form.city }}
                    <br>
                    {{ form.country }}
                    <br>
                    {{ form.postalcode }}
                    <br>
                    {{ form.ssn }}
                    <br>
                    <h3>Billing Information</h3>
                    <hr>
                    {% csrf_token %}
                    {{ form.cardholdername }}
                    <br>
                    {{ form.cardnumber }}
                    <br>
                    {{ form.exp }}
                    <br>
                    {{ form.cvv }}
                    <br>
                    <input type="submit" onclick=goBack() class="btn btn-danger update" value="Back to apartment">
                    <input type="submit" class="btn btn-primary update" value="Review Order">

                </form>
            </div>
        </div>
    </div>

{% endblock %}