{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/order.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <div class="container information-page">
    <h2>Purchase order for {{ Apartment.address }}, {{ Apartment.postalcode }}  {{ Apartment.location }}</h2>
        <br>
        <div class="row">
            <div class="col-5" style="border:1px solid black">
                <h3>Apartment information</h3>
                <div class="row">
                    <div class="col-md-12">
                        <img class="mainImage" src="{{ Apartment.apartmentimage_set.first }}"/>
                    </div>
                    <div class="col-12">
                        <p>{{ Apartment.description }}</p>
                    </div>

                </div>
                <br>
                <h3>Seller information</h3>
                <div class="row">
                    <div class="col-6">
                        <img id="sellerPicture" class="rounded-circle"src="{{ Apartment.agentid.profilepicture }}">
                    </div>
                    <div class="col-6">
                        <p>{{ Apartment.agentid.name }}</p>
                        <p>
                            <strong>Tel:</strong> {{ Apartment.agentid.cellphone }}<br>
                            <strong>Work:</strong> {{ Apartment.agentid.workphone }}<br>
                            <strong>@:</strong> {{ Apartment.agentid.email }} </p>
                        <div class="row" id="stars">
                        <script>
                            var starstring = document.createTextNode("⭐".repeat({{ Apartment.agentid.rating }}))

                            document.getElementById('stars').appendChild(starstring)

                        </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7" style="border:1px solid black">
                <form id="billingInfo" name="billingInfo" method="post">
                    <h3>Billing Information</h3>
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <input type="submit" onclick=goBack() class="btn btn-danger update" value="Back to apartment">
                    <input type="submit" class="btn btn-primary update" value="Continue">

                </form>
            </div>
        </div>
    </div>

{% endblock %}