{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'js/single_apartment_details.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/single_apartment_details.css' %}">
    {% with request.build_absolute_uri as url %}
    {% endwith %}
    <div class="container information-page">
        <div class="row">
            <div class="col-md-9"><h1 class="MainHeader">{{ Apartment.address }}, {{ Apartment.postalcode }}  {{ Apartment.location }}</h1></div> <div class="col-md-3"><h2 id="price-header">{{ Apartment.price }} kr.</h2></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <img class="mainImage" src="{{ Apartment.apartmentimage_set.first }}"/>
            </div>
            <div class="col-md-3">
                <!--<img id="firstinteriorImage" class="interiorImage" src="{{ Apartment.apartmentimage_set.first }}"/>
                <img class="interiorImage" src="{{ Apartment.apartmentimage_set.last }}"/>
                <img id="lastinteriorImage" class="interiorImage" src="{{ Apartment.apartmentimage_set.first }}"/>
                -->
                {% for image in Apartment.apartmentimage_set.all %}
                    <img class="interiorImage" src="{{ image }}"/>
                {% endfor %}
            </div>

            </div>
        </div>
    <div class="container marketing">
        <div class="row">
            <div class="col-md-6 description">
                <hr>
                <h3 class="headings-all">Description</h3>
                <p>{{ Apartment.description }}</p>
            </div>
        <div class="col-md-3 purchase">
            <hr>
                <input type="submit" id="btnPurchaseApartment" class="btn btn-primary" onclick="window.location.href='{{ request.get_full_path }}/order'" name="btnPurchaseApartment" value="Purchase now" />

            </div>
            <div class="col-md-3 agent-profile-link">
                <hr>
                <h3>Seller information</h3>
                <a class="agent-profile-link" href="{{ url }} agent/{{ Apartment.agentid.id }}">
                <div class="row">
                    <div class="col agent-profile-link">
                        <img id="sellerPicture" class="rounded-circle" src="{{ Apartment.agentid.profilepicture }}">
                        <p>{{ Apartment.agentid.name }}</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> {{ Apartment.agentid.cellphone }}</p>
                        <p><i class="fa fa-building" aria-hidden="true"></i> {{ Apartment.agentid.workphone }}</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> {{ Apartment.agentid.email }} </p>
                        <div class="col" id="stars">
                            <script>
                                var starstring = document.createTextNode("⭐".repeat({{ Apartment.agentid.rating }}))

                                document.getElementById('stars').appendChild(starstring)

                            </script>
                        </div>
                        <p>{{ Apartment.agentid.description }}</p>

                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>


{% endblock %}