{% extends 'base.html' %}

{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <div id="main_content_index">

        <img id="blueview" src="{% static 'images/blueview.jpg' %}">

        <div id="search">
            <!-- Store URL in a variable -->
            {% with request.build_absolute_uri as url %}
            {% endwith %}
            <form action="{{ url }}/search/" method="post" id="search_form">

            <!-- Look for apartment input field -->
            <div class="row">
                <div class="col-8">
                    <input class="form-control search_input" type="text" placeholder="Search..." aria-label="Look for apartment" name="locationfield">
                </div>

                <!-- Search takkinn -->
                <div class="col-3 search_btn_container">
                    <button type="submit" class="btn btn-primary btn-lg search_button"><p>Search</p></button>
                </div>
            </div>

            <!-- zip og Price dálkur -->
            <div class="row">
                <div class="col-3">
                    <input class="form-control zip_input" type="text" placeholder="zip" aria-label="zip" name="zipfield">
                </div>
            </div>

            <!-- Size, Type, Rooms -->
            <div id="search_buttons_parameters">

                {% if request.path == '/search/' %}
                    <!-- Order by price button -->
                    <button id="size" type="button" class="btn btn-primary" name="orderby_price" onclick="window.location.href='{{ url }}/search/search_and_arrange_price/'">
                        Order by price
                    </button>
                    <!-- Order by size button -->
                    <button id="size" type="button" class="btn btn-primary" name="orderby_size" onclick="window.location.href='{{ url }}/search/search_and_arrange_size/'">
                        Order by Size
                    </button>
                {% else %}
                    <button id="size" type="button" class="btn btn-primary" name="orderby_price" onclick="window.location.href='{{ url }}/order_price/'">
                        Order by price
                    </button>
                    <button id="size" type="button" class="btn btn-primary" name="orderby_size" onclick="window.location.href='{{ url }}/order_size/'">
                        Order by Size
                    </button>
                {% endif %}


                {% csrf_token %}
                {{ form }}
            </div>
            </form>
            </div>
        </div>


    <div id="TrendingApartmentsContainer">
        <h1 id="TrendingApartmentsHeader">Apartments</h1>
        <div id="TrendingApartments">
            {% if request.path == '/' %}
                {% for apartment in apartments %}
                    {% include 'apartments/single_apartment.html' with  apartment=apartment %}
                {% endfor %}
            {% elif request.path == '/order_size/' %}
                {% for apartment in OrderBySize %}
                    {% include 'apartments/single_apartment.html' with  apartment=apartment %}
                {% endfor %}
            {% elif request.path == '/order_price/' %}
                {% for apartment in OrderByPrice %}
                    {% include 'apartments/single_apartment.html' with  apartment=apartment %}
                {% endfor %}
            {% elif request.path == '/search/' %}
                {% for apartment in ZipOrLocation %}
                    {% include 'apartments/single_apartment.html' with  apartment=apartment %}
                {% endfor %}
            {% else %}
                {% for apartment in SearchArrange %}
                    {% include 'apartments/single_apartment.html' with  apartment=apartment %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}