/* Til að fá footerinn til að haldast á botninum */
html, body {
    height:100%;
    margin:0;

}
.marketing {
    margin-top: 3%;
}
.row {
    margin-top: 3%;
}

.seller-info {
    text-align: center;
}
.info {
    text-align:center;
    margin:0.5%;
}
h1 {
    text-align:center;
    color: #3697fe;
}

h3{
    text-align: center;
    color: #3697fe;
}

#sellerPicture {
    width: 70%;
    height:70%;
}