#h1-profile {
    color: #3697fe;
    text-align: left;
    margin-left: 10%;
}

.update {
    margin-top: 3%;
}
.wrapper {
    font-weight: bold;
}

.marketing {
    margin: auto;
    margin-top: 3%;
}
.card {
    padding: 3%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 5%;
}
p {
    text-align:center;
}