/*
        Search Field
*/


/* Box Around all form content*/
#search {
    -webkit-box-shadow: 2px 6px 26px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 26px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 26px -2px rgba(0,0,0,0.75);
}

/* Box inside the #search box for content padding */
.search_field_content {
    margin: 0 auto 0 auto;
    height: 80%;
    width: 90%;
}

/* The form */
#search_form {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 3% 0 3% 8%;
}

/* boxið utanum Takkana neðst á search forminu  */
#search_buttons_parameters {
    padding: 2% 0 0 0;
}

/* Clasinn á tökkunum */
.search_drop {
    margin: 0 2% 0 0;
}

/* Search takkinn Textinn */
.search_button p {
    padding: 0 1em 0 1em;
    margin: auto;
}

/* Search takkinn container */
.col-3.search_btn_container {
    padding-left: 7%;
}

.form-control.search_input, .btn.btn-primary.btn-lg.search_button,
.form-control.zip_input, .form-control.price_input {
    border-radius: .95rem;
}


@media only screen and (min-width: 992px) {
    /* Main Content */
    /* Search for apartment og Logo Staðsetningar */
    #search {
        display: inline-block;
        width: 55rem;
        margin: 5% 0 0 0.1%;
    }

    #main_content_index {
        height: 100%;
    }

    #bl_logo {
        display: inline-block;
        width: 20%;
    }

    #bl_logo img {
        width: 100%;
    }
}

/* Ipadar og svipuð tæki */
@media only screen and (max-width: 992px) {
    #search {
        width: 95%;
        margin: 5% auto 5% auto;
    }

    #bl_logo {
        display: none;
    }
}

/* Mobile Skjáir */
@media only screen and (max-width: 600px) {
    #search {
        width: 100%;
        margin: 5% 0 5% 0;
    }

    .search_button {
        float: left;
    }

    #bl_logo {
        display: none;
    }

    /* Search Takkinn */
    .btn.btn-primary.btn-lg.search_button {
        width: 4.9rem;
        height: 3rem;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Search Takkinn texti */
    .btn.btn-primary.btn-lg.search_button p {
        font-size: 14px;
    }

    /* Drop Down */
    .btn.btn-primary.search_drop {
        font-size: 14px;
    }

    /* Bedrooms Drop downinð*/
    #bedrooms {
        margin-top: 1%;
    }
    #bedrooms, #size, #type {
        padding-top: 1%;
    }


}

