/* **********************************
        Navigation Bar
************************************/
.navbar.sticky-top.navbar-light {
    background: white;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.43);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.43);
    /*background-image: linear-gradient(to right, #3099ff, #3b9eff, #45a3fe, #4fa7fe, #58acfd);*/
}

/* **********************************

        FOOTER SECTION

*************************************/
.footerLinks {
    list-style: none;
    text-align: center;
}

/*************************************/


/**************************************
        Stórir Skjáir
 **************************************/
@media only screen and (min-width: 1079px) {

    /* Remove Mobile navbar from bigger screens*/
    .topnav_mobile {
        display: none;
    }
}

/***********END STÓRIR SKJÁIR**********/

/**************************************
        Ipad og millistærðir
 **************************************/
@media only screen and (min-width: 600px) and (max-width: 1078px) {

    /* Remove Mobile navbar from bigger screens*/
    .topnav_mobile {
        display: none;
    }
}

/**********END IPAD SKJÁIR*************/


/**************************************
            Simaskjáir
 **************************************/
@media only screen and (max-width: 600px) {
    /* Fjarlægir Main Navigation bar*/
    #main_nav {
        display: None;
    }

    /* Fjarlægja Auglýsingu*/
    #bl_logo {
        display: none;
    }

    /* Style the navigation menu */
    .topnav_mobile {
        overflow: hidden;
        background-color: #3099FF;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav_mobile #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav_mobile a {
        color: white;
        padding: 0.9rem 1rem;
        text-decoration: none;
        font-size: 1.09rem;
        display: block;
        border-top: 0.03rem solid #404040;
    }

    /* Style the hamburger menu */
    .topnav_mobile a.icon {
        background: #3099FF;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav_mobile a:hover {
        background-color: #6cc8ff;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #3099FF;
        color: white;
    }

    #mob_logo {
        font-size: 1.3rem;
        font-family: 'Handlee', cursive;
    }

    /* Style a hamburger menu þvi hann fer i rugl ef etta er i a.icon */
    .fa.fa-bars {
        font-size: 1.8rem;
        color: white;
    }
}

/************END SIMASKJÁIR*****************/