/* Navigation Bar */
.navbar.sticky-top.navbar-light {
    background: white;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.43);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.43);
    /*background-image: linear-gradient(to right, #3099ff, #3b9eff, #45a3fe, #4fa7fe, #58acfd);*/
}


@media only screen and (min-width: 992px) {

    /* Remove Mobile navbar from bigger screens*/
    .topnav_mobile {
        display: none;
    }
}

/* Mobile sjáir */
@media only screen and (max-width: 600px) {
    /* Fjarlægir Main Navigation bar*/
    #main_nav {
        display: None;
    }

    /* Style the navigation menu */
    .topnav_mobile {
        overflow: hidden;
        background-color: #3099FF;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav_mobile #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav_mobile a {
        color: white;
        padding: 0.9rem 1rem;
        text-decoration: none;
        font-size: 1.09rem;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav_mobile a.icon {
        background: #3099FF;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav_mobile a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #3099FF;
        color: white;
    }

    #mob_logo {
        font-size: 1.3rem;
        font-family: 'Handlee', cursive;
    }

    .fa.fa-bars {
        font-size: 1.8rem;
    }
}