.row {
    text-align: center;
    margin: 3%;
}
.user-photo {
    width: 300px;
    height: 300px;
    padding: 10px;
}

.edit-button {
    color:white;
    text-decoration: none;
    margin-top: 3%;
    background-color: #3697fe;
}

.edit-button:hover {
    text-decoration: none;
    color:white;
    margin-top: 3%;
}

#h1-profile {
    color: #3697fe;
    text-align: left;
    margin-left: 3%;
}
.card {
    margin: 3%;
    padding: 3%;
}

.card-header {
    color: white;
    background-color: #3697fe;
}