{% extends 'base.html' %}

{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/agent_profile.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

    <p>{{ Agent.name }}</p>
    <div id="container">

        <div id="container-2">
            <div id="information">
                <h3>Information</h3>
                <p><b>Name:</b> {{ AgentProfile.name }}</p>
                <p><b>Cell:</b> {{ AgentProfile.cellphone }}</p>
                <p><b>Phone:</b> {{ AgentProfile.workphone }}</p>
            </div>
            <div id="description">
                <h3>Description</h3>
                <p>{{ AgentProfile.description }}</p>
            </div>
        </div>

        <div id="agent-image-container">
            <img src="{{ AgentProfile.profilepicture }}">
        </div>
        <div id="comments-review">
            <div id="comments-review-1">
                <h3>Rating</h3>
                <p>{{ AgentProfile.rating }}</p>
            </div>
            <div id="comments-review-2">
                <h3>Comments</h3>
                <p>{{ AgentProfile.comments }}</p>
            </div>
        </div>
    </div>
{% endblock %}