{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <div class="row">
        <div class="col">
            <div class="card">
            <h1>Profile</h1>
            <h2>Name: {{ userData.name }}</h2>
            <h2>SSN: {{ userData.socialsecurity }}</h2>
            <h2>Started: {{ userData.startdate }}</h2>
            <h2>Phonenr: {{ userData.cellphone }}</h2>
            <h2>Email: {{ userData.email }}</h2>
            <button type="edit" class="btn btn-primary btn-lg"><a class="edit-button" href="{% url 'edit_profile' %}">Edit Profile</a></button>
    {% if request.user.is_superuser == True %}
        <h1>Agent Profile</h1>
        {% else %}
        <h1>User Profile</h1>
    {% endif %}
    <img src="{{userData.profilepicture}}">
    <h1>Name: {{ userData.name }}</h1>
    <h1>SSN: {{ userData.socialsecurity }}</h1>
    <h1>Started: {{ userData.startdate }}</h1>
    <h1>Phonenr: {{ userData.cellphone }}</h1>
    <h1>Email: {{ userData.email }}</h1>

    <h1><a href="{% url 'edit_profile' %}">Edit Profile</a></h1>

            </div>
        </div>
        <div class="col">
            <div class="card">
            <h1><img class="rounded-circle user-photo" src="{{userData.profilepicture}}"></h1>
            <button type="Edit" class="btn btn-primary btn-lg"><a class="edit-button" href="{% url 'edit_profile' %}">Change picture</a></button>
            </div>
        </div>
        <div class="col">
            Stuff on a screen
        </div>
    </div>
{% endblock %}