{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <div class="row">
        <div class="col">
            <h1 id="h1-profile">Profile</h1>
            <div class="card">
            <h2><i class="fa fa-user" aria-hidden="true"></i> {{ userData.name }}</h2>
            <hr>
            <h2>{{ userData.socialsecurity }}</h2>
            <hr>
            <h2>Started: {{ userData.startdate }}</h2>
            <hr>
            <h2><i class="fa fa-phone" aria-hidden="true"></i> {{ userData.cellphone }}</h2>
            <hr>
            <h2><i class="fa fa-envelope" aria-hidden="true"></i> {{ userData.email }}</h2>
            <a class="btn btn-primary btn-lg edit-button" href="{% url 'edit_profile' %}">Edit Profile</a>
            </div>
        </div>
        <div class="col">
            {% if userData.profilepicture != "" %}
                <h1><img class="rounded-circle user-photo" src="{{userData.profilepicture}}"></h1>
                {% else %}
                <h1><img class="rounded-circle user-photo" src="{% static 'images/agent_logo.png' %}"></h1>
            {% endif %}
            <a class="btn btn-primary btn-lg edit-button" href="{% url 'edit_image' %}">Change picture</a>
        <div></div>
        {% if request.user.is_superuser == True %}
            <a class="btn btn-primary btn-lg edit-button" href="{% url 'messages' %}">Recent messages</a>
        {% endif %}
        </div>
        <div class="col">
            <h1>&nbsp</h1>
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Recently viewed</h1>
                </div>
            <div class="card-body">
                {% if request.user.is_superuser == True %}
                    <h2>Your apartments</h2>
                        <a class="btn btn-primary btn-lg edit-button" href="{% url 'add_apartment' %}">Add Apartment</a>
                    {% else %}
                    {% for apartment in apartments %}
                        {% url 'apartment_details' apartment.id as the_url %}
                        <a href="{{ the_url }}">{{ apartment.address }}</a>
                        <p>{{ apartment.price }}.kr</p>
                    {% endfor %}
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}