{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% if request.user.is_superuser == True %}
        <h1>Agent Profile</h1>
        {% else %}
        <h1>User Profile</h1>
    {% endif %}
    <img src="{{userData.profilepicture}}">
    <h1>Name: {{ userData.name }}</h1>
    <h1>SSN: {{ userData.socialsecurity }}</h1>
    <h1>Started: {{ userData.startdate }}</h1>
    <h1>Phonenr: {{ userData.cellphone }}</h1>
    <h1>Email: {{ userData.email }}</h1>

    <h1><a href="{% url 'edit_profile' %}">Edit Profile</a></h1>

{% endblock %}